%h2 編集

= form_for(resource, as: resource_name, url: update_user_registration_path, html: { method: :put }) do |f|
  = render "users/shared/error_messages", resource: resource
  .form-group
    = f.label :last_name, '姓'
    = f.text_field :last_name, class: 'form-control'
  .form-group
    = f.label :first_name, '名'
    = f.text_field :first_name, class: 'form-control'
  .form-group
    = f.label :email, 'メールアドレス'
    = f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email"
  .form-group
    = f.label :password, 'パスワード（変更しない場合は空白のまま）'
    - if @minimum_password_length
      %em
        (#{@minimum_password_length}文字以上)
    = f.password_field :password, class: 'form-control', autocomplete: "new-password"
  .form-group
    = f.label :password_confirmation, 'パスワード（確認）'
    = f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password"
  .form-group
    = f.label :current_password
    = f.password_field :current_password, class: 'form-control', autocomplete: "current-password"
  .actions
    = f.submit "更新する", class: 'btn btn-primary'
